{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Current Weather</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Questrial&display=swap">
  
  <style type="text/css">
  html {
            min-height: 100%; 
       }
       body {
            background: linear-gradient(#037278, #5EA0A4, #FFCA28);
       }
    a, h3 {
      font-family: questrial;
      color: white;
    }
    h1 {
      font-family: questrial;
      color: white;
      font-size: 100px
    }

  </style>
</head>
<body>

	<!-- replace this html -->
	<div class="container">
		<div class="jumbotron" style="background:#5EA0A4" align="center">
			<h1>
        Good <img src="/static/weather/images/sun.png"/> <br>
        Morning Sunshine! 
      </h1>
      <a>
        Weather Travelers Prototype by Jordan Eng
      </a>
		</div>

		<a href="/weather/forecast/" class="btn btn-secondary btn-xs active" role="button" aria-pressed="true" style="font-size : 25px; width: 24%; height: 100px;">Forecast</a>
		<a href="/weather/forecast/alert/" class="btn btn-secondary btn-xs active" role="button" aria-pressed="true"style="font-size : 25px; width: 24%; height: 100px;">Forecast <br> with alert</a>
		<a href="/weather/comparison/" class="btn btn-secondary btn-xs active" role="button" aria-pressed="true" style="font-size : 25px; width: 24%; height: 100px;">Comparison</a>
		<a href="/weather/comparison/alert/" class="btn btn-secondary btn-xs active" role="button" aria-pressed="true" style="font-size : 25px; width: 24%; height: 100px;">Comparison <br> with alert</a>
	</div>

  <br><br>
  <h3>
    &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;Click <img src="http://chittagongit.com/download/86607" width="50" height="50"></img> within prototype to return to this index.
  </h3>
    
</body>
</html>
